---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rewrite">
  <section class="py-20 text-center">
    <h1 class="text-4xl font-bold">Rewrite Engine (Alpha)</h1>
    <p class="mt-4 text-gray-600">GEO-aware content rewriting module is under development.</p>
  </section>
</Layout>
